<div class="nested-fields">
  <%= f.input :numeroCivique, label: "Numéro Civique" %>
  <%= f.input :rue, label: "Rue" %>
  <%= f.input :codePostal, label: "Code postal" %>
  <%= f.input :ville, label: "Ville" %>
  <%= f.input :province, label: "Province" %>
  <%= link_to_remove_association "Enlever adresse", f %>
  <h2>---</h2>
</div>
