<div class="nested-fields">
  <%= f.input :lien, as: :radio_buttons %>
  <%= f.simple_fields_for :enfant_attributes do |frmClientEnfant| %>
    <%= frmClientEnfant.input :nom, label: "Nom" %>
    <%= frmClientEnfant.input :prenom, label: "Prénom" %>
    <%= frmClientEnfant.input :prenom, label: "Date de naissance" %>
  <% end %>
<%= link_to_remove_association "Enlever cet enfant", f %>
</div>
