<div class="nested-fields">
  <%= render partial: 'dateDebutDateFin', :locals => { :f => f} %>
  <h3>Institution:</h3>
  <div id="infoInstitution">
    <%= f.simple_fields_for :institution_attributes do |frmInst| %>
      <%= frmInst.input :nom, label: 'Nom' %>
      <h4>Adresse institution:</h4>
      <div id="infoInstitutionAdresse">
        <%= render partial: 'addresse_field', :locals => {:f => frmInst } %>
      </div>
    <% end %>
  </div>
  <%= link_to_remove_association "Enlever cette étude", f, class: 'btn btn-xs btn-danger' %>
</div>
