<%= simple_form_for @client do |f| %>
<div id="infoClient">
  <%= f.input :nom, label: 'Nom' %>
  <%= f.input :prenom, label: 'Prénom' %>
  <%= f.input :dateNaissance, label: 'Date de naissance', as: :date,
                              start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
  <%= f.input :nas, label: 'Numéro d\'assurance sociale' %>
  <%= f.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes' %>
</div>
<h2>Adresse:</h2>
<div id="infoAdresse">
  <%= f.simple_fields_for :addresse_attributes do |frmAdresse| %>
    <%= frmAdresse.input :numeroCivique, label: 'Numéro civique' %>
    <%= frmAdresse.input :rue, label: 'Rue' %>
    <%= frmAdresse.input :codePostal, label: 'Code postal' %>
    <%= frmAdresse.input :ville, label: 'Ville' %>
    <%= frmAdresse.input :province, label: 'Province' %>
  <% end %>
</div>
<h2>Enfant(s):</h2>
<div id="infoEnfant">
  <%= f.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50 %>
  <div id="enfant">
    <%= f.simple_fields_for :client_has_enfants do |frmClientHasEnfant| %>
      <%= render 'client_has_enfant_fields', :f => frmClientHasEnfant %>
      <% end %>
      <%= link_to_add_association 'Ajouter enfant', f, :client_has_enfants, class: 'btn btn-default btn-xs' %>
  </div>
</div>
<h2>Étude(s):</h2>
<div id="infoEtude">
  <%= f.simple_fields_for :etudes do |frmEtude| %>
    <%= render 'etude_fields', :f => frmEtude %>
    <% end %>
    <%= link_to_add_association 'Ajouter étude', f, :etudes, class: 'btn btn-default btn-xs' %>
</div>
<%= f.button :submit %>
<% end %>
