<%= simple_form_for @client do |f| %>
  <div id="infoClient">
    <%= f.input :nom, label: 'Nom' %>
    <%= f.input :prenom, label: 'Prénom' %>
    <%= f.input :dateNaissance, label: 'Date de naissance', as: :date,
                start_year: Date.today.year - 90,
                end_year: Date.today.year,
                order: [:day, :month, :year] %>
    <%= f.input :nas, label: 'Numéro d\'assurance sociale' %>
    <%= f.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes' %>
  </div>
  <h2>Adresse:</h2>
  <div id="infoAdresse">
    <%= render partial: 'addresse_field', :locals => {:f => f } %>
  </div>
  <h2>Enfant(s):</h2>
  <div id="infoEnfant">
    <%= f.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50 %>
    <div id="enfant">
      <%= f.simple_fields_for :client_has_enfants do |frmClientHasEnfant| %>
        <%= render partial: 'client_has_enfant_fields', :locals => { :f => frmClientHasEnfant }%>
      <% end %>
      <%= link_to_add_association 'Ajouter enfant', f, :client_has_enfants, class: 'btn btn-default btn-xs' %>
    </div>
  </div>
  <h2>Étude(s):</h2>
  <div id="infoEtude">
    <%= f.simple_fields_for :etudes do |frmEtude| %>
      <%= render partial: 'etude_fields', :locals => { :f => frmEtude }%>
    <% end %>
    <%= link_to_add_association 'Ajouter étude', f, :etudes, class: 'btn btn-default btn-xs' %>
  </div>
  <h2>État civil(s):</h2>
  <div id="infoEtatCivil">
    <%= f.simple_fields_for :client_etat_civils do |frmEtatCivil| %>
      <%= render partial: 'client_etat_civil_fields', :locals => { :f => frmEtatCivil } %>
    <% end %>
    <%= link_to_add_association 'Ajouter état civil', f, :client_etat_civils, class: 'btn btn-default btn-xs' %>
  </div>
  <h2>Employeur(s):</h2>
  <div id="infoEmployeur">
    <%= f.simple_fields_for :client_has_employeurs do |frmEmployeur| %>
      <%= render partial: 'client_has_employeur_fields', :locals => { :f => frmEmployeur } %>
    <% end %>
    <%= link_to_add_association 'Ajouter employeur', f, :client_has_employeurs, class: 'btn btn-default btn-xs' %>
  </div>
  <h2>Conjoints(s):</h2>
  <div id="infoConjoint">
    <%= f.simple_fields_for :client_has_conjoint do |frmConjoint| %>
      <%= render partial: 'client_has_conjoint_fields', :locals => { :f => frmConjoint } %>
    <% end %>
    <%= link_to_add_association 'Ajouter conjoint', f, :client_has_conjoint, class: 'btn btn-default btn-xs' %>
  </div>
  <div class="form-control">
    <%= f.button :submit %>
  </div>
<% end %>
