<%= simple_form_for @client do |f| %>
<div id="infoClient">
  <%= f.input :nom, label: 'Nom' %>
  <%= f.input :prenom, label: 'Prénom' %>
  <%= f.input :dateNaissance, label: 'Date de naissance', as: :date,
                              start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
  <%= f.input :nas, label: 'Numéro d\'assurance sociale' %>
  <%= f.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes' %>
</div>
<div id="infoAdresse">
  <%= f.simple_fields_for :addresse do |a| %>
  <%= render 'addresse_fields', :f => a %>
  <% end %>
  <%= link_to_add_association 'Ajouter une adresse', f, :addresse %>
</div>
<div id="infoEnfant">
  <%= f.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50 %>
</div>
<%= f.button :submit %>
<% end %>
