<h1> Je suis un formulaire simple </h1>
<%= simple_form_for @client do |f| %>
<div id="infoClient">
  <%= f.input :nom, label: 'Nom' %>
  <%= f.input :prenom, label: 'Prénom' %>
  <%= f.input :dateNaissance, label: 'Date de naissance', as: :date,
                              start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
  <%= f.input :nas, label: 'Numéro d\'assurance sociale' %>
  <%= f.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes' %>
</div>
<div id="infoAdresse">
  <%= f.association :addresse %>
</div>
<div id="infoEnfant">
  <%= f.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50 %>
</div>
<% end %>
