<div class="col-sm-6">
  <div class="card h-100">
    <div class="card-header">Études #<%= index %></div>
    <div class="card-body">
      <div class="form-group string optional disabled etude_secteurEtudes">
        <label class="control-label string optional disabled" for="etude_secteurEtudes">Secteur</label>
        <input id="etude_secteurEtudes" class="form-control string optional disabled" disabled="disabled" value="<%= etude.secteurEtudes %>" type="text">
      </div>
      <div class="form-group string optional disabled etude_niveau">
        <label class="control-label string optional disabled" for="etude_niveau">Niveau</label>
        <input id="etude_niveau" class="form-control string optional disabled" disabled="disabled" value="<%= etude.niveau %>" type="text">
      </div>
      <div class="form-group string optional disabled etude_dateDebut">
        <label class="control-label string optional disabled" for="etude_dateDebut">Date de début</label>
        <input id="etude_dateDebut" class="form-control string optional disabled" disabled="disabled" value="<%= etude.dateDebut %>" type="text">
      </div>
      <div class="form-group string optional disabled etude_dateCompletion">
        <label class="control-label string optional disabled" for="etude_dateCompletion">Date de fin</label>
        <input id="etude_dateCompletion" class="form-control string optional disabled" disabled="disabled" value="<%= etude.dateCompletion %>" type="text">
      </div>
    </div>
  </div>
</div>