<div class="nested-fields">
  <%= f.input :secteurEtudes, label:  'Secteur' %>
  <%= f.input :niveau, label:  'Niveau' %>
  <%= f.input :dateDebut, label:  'Date début', as: :date,
              start_year: Date.today.year - 90,
              end_year: Date.today.year,
              order: [:day, :month, :year] %>
  <%= f.input :dateDebut, label:  'Date complétion', as: :date,
              start_year: Date.today.year - 90,
              end_year: Date.today.year,
              order: [:day, :month, :year] %>
  <h3>Institution:</h3>
  <div id="infoInstitution">
    <%= f.simple_fields_for :institution do |frmInst| %>
      <%= frmInst.input :nom, label: 'Nom' %>
      <h4>Adresse institution:</h4>
      <div id="infoInstitutionAdresse">
        <%= render partial: 'update_addresse', :locals => {:f => frmInst } %>
      </div>
    <% end %>
  </div>
  <%= link_to_remove_association "Enlever cette étude", f, class: 'btn btn-xs btn-danger' %>
</div>