<h1>Liste des clients</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
    <tr>
      <td><%= c.nom %></td>
      <td><%= c.prenom %></td>
      <td>
        <%= link_to 'Show', c, class: 'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_client_path(c), class: 'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nouveau Client', new_client_path %>
