<h1>Détails du client</h1>

<!-- CLIENT -->
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-header">Informations générales</div>
      <div class="card-body">
        <%= simple_form_for @client do |client_form| %>
          <%= client_form.input :nom, label: 'Nom', disabled: true %>
          <%= client_form.input :prenom, label: 'Prénom', disabled: true %>
          <%= client_form.input :dateNaissance, label: 'Date de naissance', disabled: true, as: :date,
                                start_year: Date.today.year - 90,
                                end_year: Date.today.year,
                                order: [:day, :month, :year] %>
          <%= client_form.input :nas, label: 'Numéro d\'assurance sociale', disabled: true %>
          <%= client_form.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50, disabled: true %>
          <%= client_form.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render :partial => 'clients/showAddresse', :locals => {:addresse => @client.addresse} %>

</div>

<% if !@client.etudes.nil? %>
  <p>
  <h1>Études</h1>
  <% @client.etudes.each_with_index do |etude, i| %>
    <% if (i % 2 == 0) %>
      <div class="row">
        <%= render :partial => 'clients/showEtude', :locals => {:etude => etude, :index => i} %>
      </div>
    <% else %>
      <%= render :partial => 'clients/showEtude', :locals => {:etude => etude, :index => i} %>
    <% end %>
  <% end %>
  </div>
  </p>
<% end %>

<% if !@client.enfants.nil? %>
  <p>
  <h1>Enfants</h1>
  <% @client.enfants.each_with_index do |enfant, i| %>
    <% if (i % 2 == 0) %>
      <div class="row">
        <%= render :partial => 'clients/showEnfant', :locals => {:enfant => enfant, :index => i, :collection => @client.client_has_enfants} %>
    <% else %>
      <%= render :partial => 'clients/showEnfant', :locals => {:enfant => enfant, :index => i, :collection => @client.client_has_enfants} %>
      </div>
      </p>
    <% end %>
  <% end %>
<% end %>