<h1>Détails du client</h1>

<!-- CLIENT -->
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-header">Informations générales</div>
      <div class="card-body">
        <%= simple_form_for @client do |client_form| %>
          <%= client_form.input :nom, label: 'Nom', disabled: true %>
          <%= client_form.input :prenom, label: 'Prénom', disabled: true %>
          <%= client_form.input :dateNaissance, label: 'Date de naissance', disabled: true, as: :date,
                                start_year: Date.today.year - 90,
                                end_year: Date.today.year,
                                order: [:day, :month, :year] %>
          <%= client_form.input :nas, label: 'Numéro d\'assurance sociale', disabled: true %>
          <%= client_form.input :nombreEnfants, label: 'Nombre d\'enfants', collection: 0..50, disabled: true %>
          <%= client_form.input :compteTaxesProprietaire, label: 'Numéro du compte de taxes', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- ADDRESSE -->
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-header">Adresse</div>
      <div class="card-body">
        <div class="form-group string optional disabled client_addresse_numeroCivique">
          <label class="control-label string optional disabled" for="client_addresse_numeroCivique">Numéro
            civique</label>
          <input id="client_addresse_numeroCivique" class="form-control string optional disabled" disabled="disabled" value="<%= @client.addresse.numeroCivique %>" type="text">
        </div>
        <div class="form-group string optional disabled client_addresse_rue">
          <label class="control-label string optional disabled" for="client_addresse_rue">Rue</label>
          <input id="client_addresse_rue" class="form-control string optional disabled" disabled="disabled" value="<%= @client.addresse.rue %>" type="text">
        </div>
        <div class="form-group string optional disabled client_addresse_codePostal">
          <label class="control-label string optional disabled" for="client_addresse_codePostal">Code Postal</label>
          <input id="client_addresse_codePostal" class="form-control string optional disabled" disabled="disabled" value="<%= @client.addresse.codePostal %>" type="text">
        </div>
        <div class="form-group string optional disabled client_addresse_ville">
          <label class="control-label string optional disabled" for="client_addresse_ville">Ville</label>
          <input id="client_addresse_ville" class="form-control string optional disabled" disabled="disabled" value="<%= @client.addresse.ville %>" type="text">
        </div>
        <div class="form-group string optional disabled client_addresse_province">
          <label class="control-label string optional disabled" for="client_addresse_province">Province</label>
          <input id="client_addresse_province" class="form-control string optional disabled" disabled="disabled" value="<%= @client.addresse.province %>" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

<% if @client.etudes %>
  <p>
  <h1>Études</h1>
  <% @client.etudes.each_with_index do |etude, i| %>
    <% if (i % 2 == 0) %>
      <div class="row">
        <%= render :partial => 'clients/showEtude', :locals => {:etude => etude, :index => i} %>
      </div>
    <% else %>
      <%= render :partial => 'clients/showEtude', :locals => {:etude => etude, :index => i} %>
    <% end %>
  <% end %>
  </div>
  </p>
<% end %>

<% if @client.enfants %>
  <p>
  <h1>Enfants</h1>
  <% @client.enfants.each_with_index do |enfant, i| %>
    <% if (i % 2 == 0) %>
      <div class="row">
        <%= render :partial => 'clients/showEnfant', :locals => {:enfant => enfant, :index => i} %>
    <% else %>
      <%= render :partial => 'clients/showEnfant', :locals => {:enfant => enfant, :index => i} %>
      </div>
      </p>
    <% end %>
  <% end %>
<% end %>